{% extends 'user.html' %}

{% block title %}{{ user['name'] }}'s Journals - MoodJams{% endblock %}

{% block styles %}
<style>
    .post-it-note {
        cursor: pointer;
        transition: transform 0.2s, box-shadow 0.2s;
    }

    .post-it-note:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    }

    .post-it-note:active {
        transform: scale(0.95);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .table-view {
        cursor: pointer;
        transition: box-shadow 0.2s;
    }

    .table-view:hover {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    }

    .table-view:active {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    }
</style>
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h2>{{ user['name'] }}'s Journals</h2>
                <div class="form-check form-switch mt-3">
                    <input class="form-check-input" type="checkbox" id="notesTableToggle" checked>
                    <label class="form-check-label" for="notesTableToggle">Notes</label>
                </div>
            </div>
            <a href="{{ url_for('add_journal') }}" class="btn btn-primary mt-3">Add Journal</a>
        </div>

        <div id="notesDisplay" class="mt-4">
            {% if journal_list %}
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    {% for journal in journal_list %}
                        <div class="col">
                            <div class="card h-100 post-it-note" onclick="window.location.href='{{ url_for('journal_details', journal_id=journal.id) }}'">
                                <div class="card-body">
                                    <h5 class="card-title">{{ journal.date | format_date }} {% if journal.mood_rating == 1 %}😭{% elif journal.mood_rating == 2 %}😔{% elif journal.mood_rating == 3 %}😐{% elif journal.mood_rating == 4 %}😊{% elif journal.mood_rating == 5 %}😁{% endif %}</h5>
                                    <p class="card-text">{{ journal.description | truncate(150) }}</p>
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    <div>
                                        {% for theme in journal.daily_themes %}
                                            <span class="badge bg-secondary">{{ theme.theme_name }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-info mt-3" role="alert">
                    No journals available. Start documenting your mood and experiences!
                </div>
            {% endif %}
        </div>

        <div id="tableDisplay" class="mt-4" style="display: none">
            {% if journal_list %}
                <table class="table table-hover">
                    <thead class="table-dark thead-dark">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Journal Content</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Themes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for journal in journal_list %}
                        <tr class="table-view" onclick="window.location='{{ url_for('journal_details', journal_id=journal.id) }}';">
                            <td>{{ journal.date | format_date }}</td>
                            <td>{{ journal.description | truncate(50) }}</td>
                            <td>{{ journal.mood_rating }} {% if journal.mood_rating == 1 %}😭{% elif journal.mood_rating == 2 %}😔{% elif journal.mood_rating == 3 %}😐{% elif journal.mood_rating == 4 %}😊{% elif journal.mood_rating == 5 %}😁{% endif %} </td>
                            <td>
                                {% for theme in journal.daily_themes %}
                                    <span class="badge bg-secondary">{{ theme.theme_name }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info mt-3" role="alert">
                    No journals available. Start documenting your mood and experiences!
                </div>
            {% endif %}
        </div>

    </div>

    <script>
        const toggleSwitch = document.getElementById('notesTableToggle');
        const notesDisplay = document.getElementById('notesDisplay');
        const tableDisplay = document.getElementById('tableDisplay');

        const toggleLabel = document.querySelector('[for="notesTableToggle"]');

        toggleSwitch.addEventListener('change', () => {
            if (toggleSwitch.checked) {
                notesDisplay.style.display = 'block';
                tableDisplay.style.display = 'none';
                toggleLabel.innerHTML = 'Notes';
            } else {
                notesDisplay.style.display = 'none';
                tableDisplay.style.display = 'block';
                toggleLabel.innerHTML = 'Table';
            }
        });
    </script>
{% endblock %}